lang = "en"
speaker_wav = "tts/en_sample.wav"
speaker = "Abrahan Mack"

# Extra args
split_sentancess = True
speed = 1 # Not in use

file_out_path = "audio/"
models = "XTTS-v2/tts_models/multilingual/multi-dataset/xtts_v2"


# Voice to wav file
def toFile(txt, id):
    tts = TTS(model_name = models)
    tts.tts_to_file(
        text=txt, 
        # speaker_wav=speaker_wav, # either speaker or speaker_wav, not both
        speaker=speaker,
        language=lang, 
        file_path=f"{file_out_path}{id}.wav",
        enable_text_splitting = split_sentancess
        )